@charset "UTF-8";
/*
	게시판의 CSS
	(미완성)
*/

	/* 게시판 부분 박스 (박스가 2개 존재하는 게시판)*/
.topBox{
	margin-bottom: 20px;
	background: #c7eef2;
	border: 2px solid #b1e8ed;
	border-radius: 10px;
	color: #595c5c;
	font-weight: bold;
  	padding: 20px;
}
	
.midBox{
	display: block;
  	padding: 5px;
}

.midBox > div{
	display: inline-block;
}

.search {
	font-size: 12px;
	border: 0;
	border-radius: 7px;
	color: #595c5c;
	padding: 3px 7px 4px 7px;
}

.search.search2 {
	height: 17px;
	width: 115px;
}

.searchMenu {
	padding-right: 25px;
}


	/* 게시판 부분 한판 게시판 */
ul {
	list-style-type: none;
}

th {
	text-align: center;
}

table>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
	padding: 15px;
}

.mainBoard>thead>tr>th{
	border-bottom: 1px solid #b1e8ed;
	padding: 15px;
	
}

.mainBoard {
	background: white;
	border: 2px solid #b1e8ed;
	border-radius: 10px;
	padding: 20px;
}

	/* 게시판 요소 */
.item{
	display: flex;
	margin: 10px;
}


	/* 비공통 부분 */
	/* 하트 히스토리 게시판 */
.heartState {
	margin: 0;
	text-align: justify;
	vertical-align: middle;
}

	/* 관리자 전용 부분 */